@model List<PremierLigi.WebUI.Dtos.GameWeekDtos.ResultGameWeekDto>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <h3>Maç Haftaları</h3>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Hafta No</th>
            <th>Sezon</th>
            <th>Başlangıç</th>
            <th>Bitiş</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GameWeekId</td>
                <td>@item.WeekNumber. Hafta</td>
                <td>@item.SeasonName</td>
                <td>@item.StartDate.ToString("dd.MM.yyyy")</td>
                <td>@item.EndDate.ToString("dd.MM.yyyy")</td>
                <td><a href="/GameWeek/DeleteGameWeek/@item.GameWeekId" class="btn btn-danger btn-sm">Sil</a></td>
                <td><a href="/GameWeek/UpdateGameWeek/@item.GameWeekId" class="btn btn-success btn-sm">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/GameWeek/CreateGameWeek" class="btn btn-info">Yeni Hafta Ekle</a>
</div>
